/*
    Front 
*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*
    Make sure no empty
*/
#main-content {
    min-height: 90vh;
    padding: 20px;
    background-color: #f9f9f9;
}

/*
    Bottom basic design

*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 1px solid #ccc;
}

/*
    Bottom block occupy area in average include future icon added
    
*/
.nav-item {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

/*
    imgic design
    
*/
.nav-item img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px;
}

/*
    personal page design
    
*/
.profile-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 20px 20px;
}
.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.username {
    font-size: 24px;
    margin: 10px 0 5px;
}
.coins {
    color: orange;
}
.profile-body {
    background-color: white;
    padding: 20px;
}
.profile-item {
    border-bottom: 2px solid black;
    padding: 15px 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
